---
layout: default
---

<h1 class="page-header">Fantasy Stories</h1>

{% for post in site.posts %}
  {% if post.category1 contains 'Fantasy' or post.category2 contains 'Fantasy' %}
    <article class="post-preview">

      <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="horizontal-body">
        {{ post.excerpt }}
      </div>

      <div class="post-footer">
        <div class="category-container">
          <div class="category">{{ post.category1 }}</div>
          <div class="category">{{ post.category2 }}</div>
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>
    </article>
  {% endif %}
{% endfor %}
