---
layout: default
title: Sea of Book Latest
pagination:
  enabled: true
---

<h1 class="page-header">Latest Posts</h1>

{% for post in paginator.posts %}
  <article class="post-preview">

    <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="horizontal-body">
      {{ post.excerpt }}
    </div>

    <div class="post-footer">
      <div class="category-container">
        {% for category in post.categories %}
          <div class="category"><a href="{{ site.baseurl }}/{{category}}">{{ category }}</a></div>
        {% endfor %}      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read Story</a>
    </div>  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
    <a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
{% endif %}