//
// VARIABLES
//
$sea-forest-green: #16533a;
$sea-dark-green: #207251;
$sea-green: #50b189;
$sea-light-green: #99d0b7;
$sea-dark-blue: #4a72a3;
$sea-blue: #547eb8;
$sea-light-blue: #6397d0;
$sea-white: #f8f6f6;
$sea-black: #000000;

$background-top-gradient: #23855f;
$background-bottom-gradient: #1b694a;

$link-red: #7a3244;
$link-red-hover: #5078b1;
$link-red-background: #efc4db;
$link-blue: #394c7e;
$link-blue-hover: #5078b1;
$link-green: #1c6447;
$link-green-hover: #5078b1;
$link-green-background: #b9eaeb;

$sidebar-header-background: #99d0b7;
$sidebar-link-background: #70be9c;

$transition-time: 0.2s;