body {
  background: linear-gradient(#27956a, #22835d);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-attachment: fixed;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 990px;
  padding-left: 10px;
  padding-right: 10px;

  .content-container {
    align-self: center;
    background-color: #50b189;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex: 2;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    min-width: 300px;
    padding: 10px;

    .page-header {
      border-bottom: solid 4px #16533a;
      font-family: 'Chelsea Market', cursive;
      margin: 5px;
    }

    .post-preview {
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px;

      .post-footer {
        display: flex;
        justify-content: space-between;

        .category-container {
          display: flex;
          justify-content: flex-start;
        }

        .category {
          background-color: #b9eaeb;
          border-radius: 5px;
          color: #207251;
          font-weight: bold;
          margin: 5px;
          margin-bottom: 10px;
          padding: 10px 20px 10px 20px;
          text-align: center;
          transition: 0.2s;
          vertical-align: text-bottom;
        }

        .read-more {
          margin: 5px;
          margin-bottom: 10px;
          margin-right: -10px;
          background-color: #efc4db;
          border-radius: 5px 0px 0px 5px;
          color: #207251;
          font-weight: bold;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
          transition: 0.2s;
        }

        .read-more:hover {
          color: #50b189;
          transition: 0.2s;
        }
      }


      h1 {
        border-left: 5px solid #efc4db;
        padding-left: 5px;
      }

      h2 {
        border-left: 5px solid #efc4db;
        padding-left: 5px;
      }

      .title {
        margin: 0px;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 0px;

        a {
          background-color: #efc4db;
          color: black;
          display: block;
          padding: 8px;
          text-decoration: none;
          transition: 0.2s;
        }

        a:hover {
          color: #207251;
          transition: 0.2s;
        }
      }

      .subtitle {
        background-color: #efc4db;
        color: black;
        display: block;
        padding: 3px;
        padding-left: 15px;
        margin: 0px;
        margin-top: 0px;
        margin-left: -10px;
        margin-right: -10px;
        text-decoration: none;
        transition: 0.2s;
      }

      .category {
        background-color: #f8e8f0;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .category:empty {
        display: none;
      }

      .listing {
        border-top: 3px solid #70be9c;
        border-bottom: 3px solid #70be9c;
        border-left: 0px;
        font-size: 1.2em;
        margin: 0px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 0px;

        a {
          background-color: #99d0b7;
          color: black;
          display: block;
          padding: 8px;
          text-decoration: none;
          transition: 0.2s;
        }

        a:hover {
          color: #207251;
          transition: 0.2s;
        }
      }
    }
  }

  .side-nav {
    align-self: stretch;
    background-color: #50b189;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex: 1;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 150px;
    padding: 10px;
    vertical-align: top;

    .section-container {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;

      .section-header {
        background-color: #99d0b7;
        display: block;
        font-family: 'Chelsea Market', cursive;
        margin: 0px;
        margin-bottom: 5px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -5px;
        padding: 2px;
        text-align: center;
      }

      .section-button {
        background-color: #99d0b7;
        display: block;
        font-family: 'Chelsea Market', cursive;
        margin: 0px;
        margin-bottom: -5px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -5px;
        padding: 2px;
        text-align: center;

        a {
          color: #394c7e;
          display: block;
          text-decoration: none;
          transition: color 0.3s;
          transition: 0.2s;
        }

        a:hover {
          color: #AF874E;
          transition: color 0.3s;
          transition: 0.2s;
          filter: invert(100%);
        }

        img {
          vertical-align: middle;
        }
      }

      .social-media-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        i {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .link-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
          background-color: #70be9c;
          border-radius: 5px;
          color: #394c7e;
          display: block;
          font-size: 1.4em;
          font-weight: bold;
          margin: 5px;
          margin-left: 10px;
          margin-right: 10px;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          text-align: center;
          transition: 0.2s;
        }

        a:hover {
          color: #5078b1;
          transition: 0.2s;
        }
      }
    }

  }
}
